body {
    font-family: Arial, sans-serif;
    background: #000000;
    color: #eee;
    padding: 40px;
    max-width: 700px;
    margin: auto;
}

h1 {
    color: #ff0000;
    text-align: center;
}

h5,
h4,
p,
#txt-center {
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    background: #0f0f0f;
    color: #eee;
    border: 1px solid #444;
    border-radius: 6px;
    font-size: 16px;
}

.btn-danger {
    background-color: black;
    /* pure black button */
    color: white;
    /* white text */
    border: 2px solid red;
    /* red border */
    padding: 10px 20px;
    transition: 0.2s ease;
    /* smooth hover */
}

.btn-danger:hover {
    border-color: #3d0202;
    /* darker red on hover */
    color: #3d0202;
    /* optional: red text on hover */
    background-color: #0d0d0d;
    /* slightly lighter black hover */
}


button {
    margin-top: 15px;
    padding: 12px 20px;
    background: #ff4444;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}